<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>ydp godview</display-name>
  
  <!-- spring 上下文初始化，主要将业务bean实体化 -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>
		classpath:applicationContext.xml
		classpath:dubboContext.xml
	</param-value>
  </context-param>
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <!-- 往servlet容器中加入spring处理的实现 -->
  <servlet>
  	<!-- 这个servlet name要注意一下，这个mvc的xml要根据这个名字获取的，
  	比如这里就要在WEB-INF下新建一个spring-web-servlet.xml -->
    <servlet-name>spring-web</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 这个貌似不指定也无所谓
    <init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-web-servlet.xml</param-value>
	</init-param> -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>spring-web</servlet-name>
  	<url-pattern>*.sc</url-pattern>
  </servlet-mapping>
</web-app>

